<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trading.tradeapi.mapper.AccountMapper">

    <select id="findById" resultType="com.trading.tradeapi.entity.AccountRecord">
        SELECT a.account_id AS accountId,
               a.account_name AS accountName,
               a.client_id AS clientId,
               c.name AS clientName,
               a.currency AS currency,
               a.cash_balance AS cashBalance,
               a.status AS status,
               a.version AS version,
               a.closed_at AS closedAt
        FROM account a
        JOIN client c ON a.client_id = c.client_id
        WHERE a.account_id = #{id}
    </select>

    <update id="updateCashBalanceAndVersion">
        UPDATE account
        SET cash_balance = #{cashBalance},
            version = version + 1
        WHERE account_id = #{id}
          AND version = #{version}
    </update>

    <insert id="insertAccount" keyProperty="accountId" useGeneratedKeys="true" parameterType="com.trading.tradeapi.entity.AccountRecord">
        INSERT INTO account (account_name, client_id, currency, cash_balance, status, version)
        VALUES (#{accountName}, #{clientId}, #{currency}, #{cashBalance}, #{status}, 0)
    </insert>

    <delete id="deleteAccount">
        DELETE FROM account
        WHERE account_id = #{accountId}
    </delete>

</mapper>
